@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background:#3281d1;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  line-height: 70px;
  text-align: center;
  background: #3281d1;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #5294d6;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(https://image.freepik.com/vecteurs-libre/abstrait-vague-bleue-blanche_41814-377.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.contenu h1{
    margin-left: 195px;
    padding-top: 40px;
}

.contenu form{
  padding: 39px 48px 40px 48px;
}

.dropdown-container {
  display: none;
  background-color: #5294d6;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 24px;
}

.dropdownli{
  font-size: 16px !important;
}

.formaddsal{
  margin-right: 73px;
  margin-left: 77px;
  background-color: #f8f8f8;
}

.formaddsal{
  padding-top: 29px;
  padding-left: 46px;
}

.btn{
  margin-left: 860px;
}




/* modif employee table */




table{
  width: 78%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: left;
}
tr {
  border-bottom: 1px solid #cbcbcb;
}
th, td{
  border: none;
  height: 30px;
  padding: 2px;
}
tr:hover {
  background: #F5F5F5;
}

/* form {
  width: 45%;
  margin: 50px auto;
  text-align: left;
  padding: 20px; 
  border: 1px solid #bbbbbb; 
  border-radius: 5px;
} */

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: rgb(49, 145, 209);
  color: white;
  border-radius: 3px;
}

.del_btn {
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  background: #f11616;
}
.msg {
  margin: 30px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
}

.hiden{
  display: none;
}