@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
}

/* dashboard */

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 36px;
}

.container .box {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  box-shadow: 0px 0px 15px background;
  /* Link */
}

.container .box .boxContent {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.container .box .boxContent .icon {
  font-size: 48px;
  padding: 15px;
}
.container .profile .boxContent .icon {
  color: #8293ff;
}
.container .salarié .boxContent .icon {
  color: #f8ca32 ;
}
.container .congé .boxContent .icon {
  color: #0cc925;
}
.container .calendrier .boxContent .icon {
  color: #bc08e9;
}

.container .box .boxContent .title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.container .box .boxContent .tp {
  color: #8293ff;
}
.container .box .boxContent .ts {
  color: #f8ca32;
}.container .box .boxContent .tco {
  color: #0cc925;
}.container .box .boxContent .tca {
  color: #bc08e9;
}

.container .box .boxContent .desc {
  color: #8293ff;
  font-size: 15px;
  height: 20%;
}

.container .box a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container .box:hover {
  box-shadow: none;
}
.container .profile:hover {
  background: linear-gradient(130deg, #503bff 0%, #8293ff 100%);
}
.container .salarié:hover {
  background: linear-gradient(130deg, #f2ff37 0%, #f8ca32 100%);
}
.container .congé:hover {
  background: linear-gradient(130deg, #9bff4a 0%, #0cc925 100%);
}
.container .calendrier:hover {
  background: linear-gradient(130deg, #d874ff 0%, #bc08e9 100%);
}

.container .box:hover .icon,
.container .box:hover .title,
.container .box:hover .desc {
  color: white;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

/* dashboard */




.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background:#3281d1;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  line-height: 70px;
  text-align: center;
  background: #3281d1;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #5294d6;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(https://image.freepik.com/vecteurs-libre/abstrait-vague-bleue-blanche_41814-377.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.contenu h2{
    margin-left: 143px;
    padding-top: 40px;
}

.contenu form{
  padding: 39px 48px 40px 48px;
}

.dropdown-container {
  display: none;
  background-color: #5294d6;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 24px;
}

.dropdownli{
  font-size: 16px !important;
}

.formaddsal{
  margin-right: 73px;
  margin-left: 100px;
  /* background-color: hsl(183, 100%, 96%); */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px background;
}

.formaddsal{
  padding-top: 29px;
  padding-left: 46px;
  /* margin-top: 68px; */
}

.btn{
  margin-left: 860px;
}
.btnupd{
  margin-left: 470px;
}
.btnback{
  margin-left: 19px;
}

label{
  font-weight: bold;
}




/* modif employee table */




table{
  width: 85%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: left;
  margin-left: 53px;
}
tr {
  border-bottom: 1px solid #cbcbcb;
}
th, td{
  border: none;
  height: 30px;
  padding: 2px;
}
tr:hover {
  background: #F5F5F5;
}

.tablediv{
  overflow: auto;
  height:400px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: rgb(47, 118, 250);
  border: none;
  border-radius: 5px;
}
.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: rgb(49, 145, 209);
  color: white;
  border-radius: 3px;
}

.del_btn {
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  background: #f11616;
}
.msg {
  margin: 30px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
}

.hiden{
  display: none;
}


/* search style */


.search__container {
  padding-top: 20px;
  padding-bottom: 30px;
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.search__input {
  width: 30%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #575756;
  background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  float: right;
  margin-right: 100px;
}

.search__input::placeholder {
      color: rgba(87, 87, 86, 0.8);
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }

.search__input:hover,
  .search__input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
  }